<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://neo4j-contrib.github.io/developer-resources/language-guides/assets/css/main.css">
    <title>Neo4j Disease and Diet</title>
</head>

<body>

<div id="graph">
</div>

<div role="navigation" class="navbar navbar-default navbar-static-top">
<div class="navbar-header col-sm-12 col-md-12">
                <div class="logo-well">
                    <a href="http://neo4j.com/developer-resources">
                    <img src="http://neo4j-contrib.github.io/developer-resources/language-guides/assets/img/logo-white.svg" alt="Neo4j World's Leading Graph Database" id="logo">
                    </a>
                </div>
                <div class="navbar-brand">
                    <div class="brand">Neo4j Disease and Diet</div>
                </div>
            </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <ul class="nav navbar-nav">
                    <li>
					<form role="search" class="navbar-form" id="search">
                        <th>Welcome to the Query Generator... Please browse through the options and fill the blanks to execute desired query. The following options are available:</th>    
						</form>
						
						<form method="POST" action="/moveforward1/">
						<table><tr><td><th>1. How many diets are known to be</th></td>
   <td> <input name="q11" value="" placeholder="relation"></td>
   								<td><th>for</th></td>
	<td><input name="q12" value="" placeholder="disease"></td>
	<td><th>?</th></td>
    <td><input type="submit"></td>
	<td><th>Solution:</th></td>
	<td><input type="text" value="{{count}}" name="count"></td></tr></table>
</form>
			<form method="POST" action="/moveforward2/">
						<table><tr><td><th>2. Diets which are </th></td>
   <td> <input name="q11" value="" placeholder="relation"></td>
   								<td><th>for</th></td>
	<td><input name="q12" value="" placeholder="disease"></td>
	<td><th>but</th></td>
	   <td> <input name="q13" value="" placeholder="relation"></td>
   								<td><th>for</th></td>
	<td><input name="q14" value="" placeholder="disease"></td>
	<td><th>?</th></td>
    <td><input type="submit"></td></tr>
	
	<tr><td><th>Solution:</th></td>
	{% if diet == null %}
	{% else %}
	<td><textarea rows="5" cols="25">{{diet}}</textarea></td></tr>
	{% endif %}
	</table>

	
	</form>
	
	<form method="POST" action="/moveforward3/">
						<table><tr><td><th>3. Diets which are </th></td>
   <td> <input name="q11" value="" placeholder="relation"></td>
   								<td><th>for both</th></td>
	<td><input name="q12" value="" placeholder="disease1"></td>
	<td><th>and</th></td>
	<td><input name="q13" value="" placeholder="disease2"></td>
	<td><th>?</th></td>
    <td><input type="submit"></td></tr>
	<tr><td><th>Solution:</th></td>
	{% if diet2 == null %}
	{% else %}
	<td><textarea rows="5" cols="25">{{diet2}}</textarea></td></tr>
	{% endif %}
	</table>

	</form>
	
	
	<form method="POST" action="/moveforward4/">
						<table><tr><td><th>4. Diets which are </th></td>
   <td> <input name="q11" value="" placeholder="relation"></td>
   								<td><th>for</th></td>
	<td><input name="q12" value="" placeholder="disease"></td>
	<td><th>, starting from most to least ? </th></td>
    <td><input type="submit"></td></tr>
	<tr><td><th>Solution:</th></td>
	{% if diet3 == null %}
	{% else %}
	<td><textarea rows="5" cols="25">{{diet3}}</textarea></td></tr>
	{% endif %}
	</table>

	</form>
	
	
	
						
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
</div>


    
<style type="text/css">
    .link {
  stroke: #ccc;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}
</style>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" type="text/javascript"></script>
<script type="text/javascript">
   $(function () {
   
   
	}	)
</script>

<script type="text/javascript">
   var width = 960,
    height = 900

var svg = d3.select("#graph").append("svg")
    .attr("width", width)
    .attr("height", height);

var force = d3.layout.force()
    .gravity(0.05)
    .distance(100)
    .charge(-100)
    .size([width, height]);

d3.json("/graph", function(error, graph) {
  if (error) throw error;

  force
      .nodes(graph.nodes)
      .links(graph.links)
      .start();

  var link = svg.selectAll(".link")
      .data(graph.links)
    .enter().append("line")
      .attr("class", "link");

  var node = svg.selectAll(".node")
      .data(graph.nodes)
    .enter().append("g")
      .attr("class", "node")
      .call(force.drag);

	  node.append("image")
      .attr("xlink:href", "https://github.com/favicon.ico")
      .attr("x", -8)
      .attr("y", -8)
      .attr("width", 16)
      .attr("height", 16);
  
  node.append("text")
      .attr("dx", 12)
      .attr("dy", ".35em")
      .text(function(d) { return d.Name });

  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
  });
});

</script>
</body>
</html>
