
<!DOCTYPE html>
<html>

<head>
  <title>DAPNEML</title>
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="shortcut icon" href="/static/lstm.ico">
  
</head>

<body>
  

  
  <div class="container">
    <h1>
      <center>Predicting significant diets for a disease</center>
    </h1>

    {% block content %}
    {% for message in form.seed.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}


    <form method=post>

      {{ form.seed.label }}
      {{ form.seed }}


      {{ form.submit }}
    </form>
    {% endblock %}

  </div>
	
<style type="text/css">
    .link {
  stroke: #ccc;
}

.node text {
  pointer-events: none;
  font: 50px sans-serif;
  color: White;
}

.node { fill: #BBB;
height: 70px;
  width: 25%; }
</style>

  
  
</body>

</html>
